
<div class="d-inline-flex align-items-start text-start flex-column bd-highlight mb-3">
<h1>New product</h1>
<%= render "form", product: @product %>
</div>

<br>

<div>
  <%= link_to "Back to products", products_path %>
</div>
