<style>
  a {
    color: var(--bs-body-color);
  }
</style>
<p style="color: green"><%= notice %></p>
<div class="container col-xxl-8 px-4">
  <div class="text-start">
    <%= link_to "Back to products", products_path %>
  </div>

  <%= render @product %>
</div>
